#home, #flashcard, #test{
	padding: 0 1%;
	width: 98%;
}
.ui-bar {
	min-height: 99px;
}

@media all and (max-width: 25em) {
	.ui-block-a,
	.ui-block-b,
	.ui-block-c,
	.ui-block-d {
		width: 100%;
	}
}
#definition1, #definition2, #definition3, #definition4 {
	width: 100px;
	height: 100px;
	padding: 0.5em;
	float: left;
	margin: 10px;
}

#definition_element, #cards {
	width: 150px;
	height: 150px;
	padding: 0.5em;
	float: left;
	margin: 10px;
}