label {
	border: solid 1px black;
}
#home, #flashcard, #test{
	padding: 0 1%;
	width: 98%;
}
.ui-bar {
	min-height: 99px;
}
#schimg {
	max-width: 200px;
	max-height: 200px;
	padding: 10px;
}
@media all and (max-width: 25em) {
	.my-breakpoint .ui-block-a,
	.my-breakpoint .ui-block-b,
	.my-breakpoint .ui-block-c,
	.my-breakpoint .ui-block-d, {
		width: 100%;
		float: none;
	}
}
.droppedTRUE {
	background-color: green;
}
.droppedFALSE {
	background-color: red;
}